<div class="ravici">

  <div class="contactt">
      <p class="pirvxazi">ABOUT US</p>
      <h2 class="dalshe">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</h2>
  </div>

  <div class="yaltabandi">
      <img src="https://images.pexels.com/photos/4209628/pexels-photo-4209628.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200" alt="">
  </div>
</div>
