
<div class="topnav">
  <div class="thenorthpole">
      <p class="the" routerLink='/'>THE</p>
      <p class="northpole" routerLink='/'>NORTHPOLE</p>
  </div>
  <div class="navdiv">
      <a class="active" routerLink="/shop">SHOP</a>
      <a href="#about" routerLink="/about">ABOUT</a>
      <a href="#groups" routerLink="/blog">REGISTRATION</a>
      <a href="#contact" routerLink="/contact">CONTACT</a>
  </div>
  <input type="text" placeholder="Search.." class="searchbtn">
<a href="#">

  <i class="fa-solid fa-cart-shopping" id="cart"></i>
</a>  
</div>
