<div class="bolo">
    <div class="yvelaa">
        <div class="names">
            <div class="firstname">
                <p class="firsttname">First Name *</p>
                <input type="text" class="mesam">
            </div>
            <div class="lastname">
                <p class="lasttname">Last Name *</p>
                <input type="text" class="mesam">
            </div>
        </div>
        <div class="gmail">
            <p class="ggmail">Enter Your Email *</p>
            <input type="text " class="meoree">
        </div>
        <div class="subject">
            <p class="subjectt">Enter Your Subject</p>
            <input type="text"class="pirvelii  ">
        </div>
        <div class="message">
            <p class="mmessage">Enter Your Message</p>
            <input type="text" class="input1">
        </div>
        <button class="send">Send</button>
    </div>
  </div>
  