<div class="mainbody">
  <div class="div2">
      <p class="adventure">PLAN YOUR ADVENTURE</p>
      <button class="shop1">SHOP NOW</button>
  </div>
</div>
<div class="mainn">
  <div class="div3">
      <p class="new">NEW ARRIVALS</p>
      <button class="shop2">SHOP NOW</button>
  </div>
  <div class="div4">
      <img class="imageback" src="https://static.wixstatic.com/media/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png/v1/fill/w_951,h_903,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png" alt="">
  </div>
</div>

<div class="backpacks1">
  <div class="pack1">
      <img class="pack11" src="https://static.wixstatic.com/media/84770f_e49a913c82e649c6baeba8a5c47d0d66~mv2.png/v1/fill/w_506,h_506,q_90/84770f_e49a913c82e649c6baeba8a5c47d0d66~mv2.webp" alt="">
  </div>
  
  <div class="pack2">
      <img class="pack22" src="https://static.wixstatic.com/media/84770f_7bcdce49085a490d854be61aa7e915fa~mv2.png/v1/fill/w_507,h_506,q_90/84770f_7bcdce49085a490d854be61aa7e915fa~mv2.webp" alt="">
  </div>
  
  <div class="pack3">
      <img class="pack33" src="https://static.wixstatic.com/media/84770f_0bb54c0f9e5b4974af6535184ea7aca6~mv2.png/v1/fill/w_506,h_506,q_90/84770f_0bb54c0f9e5b4974af6535184ea7aca6~mv2.webp" alt="">
  </div>
</div>
<div class="sale">
  <p class="sale1">NOW ON SALE</p>
  <p class="sale2">UP TO 50% OFF</p>
  <div class="backpacks2">
      <div class="first">
          <div class="pirveli">
              <img class="pirvelipht" src="https://static.wixstatic.com/media/a9ff3b_f852b0f8d589446d9b672173e24008f9.jpg/v1/fill/w_383,h_426,al_c,q_85,usm_0.66_1.00_0.01/a9ff3b_f852b0f8d589446d9b672173e24008f9.webp" alt="">
          </div>
          
          <div class="canvas">
              <p class="canvasback">CANVAS BACKPACK</p>
              <div class="canvas2">
                  <p class="dollar">$75.00</p>
                  <div class="test1"></div>
                  <p class="dollar">$67.50</p>
              </div>
          </div>
      </div>
      <div class="second">
          <img class="meorepht" src="https://static.wixstatic.com/media/a9ff3b_b0e020a191534969bccc74fb5f27684c.jpg/v1/fill/w_386,h_426,al_c,q_85,usm_0.66_1.00_0.01/a9ff3b_b0e020a191534969bccc74fb5f27684c.webp" alt="">
          <div class="technical">
              <p class="technicalback">TECHNICAL PACK</p>
              <div class="technical2">
                  <p class="dollar">$130.00</p>
                  <div class="test2"></div>
                  <p class="dollar">$104.00</p>
              </div>
          </div>
      </div>
      <div class="third">
          
              <img class="mesamepht" src="https://static.wixstatic.com/media/84770f_7b18884ff3e343208842ae1f30df28aa.jpg/v1/fill/w_386,h_426,al_c,q_85,usm_0.66_1.00_0.01/84770f_7b18884ff3e343208842ae1f30df28aa.webp" alt="">
          
         

          <div class="camo">
              <p class="camoback">CAMO BACKPACK</p>
              <div class="camo2">
                  <p class="dollar">$95.00</p>
                  <div class="test3"></div>
                  <p class="dollar">$76.00</p>
              </div>
          </div>
      </div>
      </div>

   
</div>


<div class="ravici">

  <div class="contactt">
      <p class="pirvxazi">ABOUT US</p>
      <h2 class="dalshe">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</h2>
  </div>

  <div class="yaltabandi">
      <img src="https://images.pexels.com/photos/4209628/pexels-photo-4209628.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200" alt="">
  </div>
</div>
<div class="bolo">
  <div class="yvelaa">
      <div class="names">
          <div class="firstname">
              <p class="firsttname">First Name *</p>
              <input type="text" class="mesam">
          </div>
          <div class="lastname">
              <p class="lasttname">Last Name *</p>
              <input type="text" class="mesam">
          </div>
      </div>
      <div class="gmail">
          <p class="ggmail">Enter Your Email *</p>
          <input type="text " class="meoree">
      </div>
      <div class="subject">
          <p class="subjectt">Enter Your Subject</p>
          <input type="text"class="pirvelii  ">
      </div>
      <div class="message">
          <p class="mmessage">Enter Your Message</p>
          <input type="text" class="input1">
      </div>
      <button class="send">Send</button>
  </div>
</div>

